StructuredTextData	v1.2
config :
	muscleNames {
		ECRL
		BRA
		BIC
		TRI_M
		TRI_L
		INFSP
		DELT_P
		DELT_A
		ECU
		EDC
		FCR
		FCU
		PEC
		FDS
		LAT
		APL
		}
	
	# Hardware channel number
	muscleChannelNum 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208
    
    arrayNames  {
        Blackrock
        NeuroNexus
        }
    
    # Start and stop Plexon channel nums for each array
    neuralChannelNum 1 96 97 160
;
