StructuredTextData  v1.2
target_configurations :
    denso_away_moveID       100
    combos :
        selection_method    seq
        #                   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16
        center              1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
        pert                r  r  r  r  r  r  r  r  r  r  r  r  r  r  r  r
        dock                1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 
        force               1  2  3  4  1  2  3  4  1  2  3  4  1  2  3  4
        move                1  1  1  1  2  2  2  2  3  3  3  3  4  4  4  4
        hold                1  1  1  1  2  2  2  2  3  3  3  3  4  4  4  4
    ;

    config_center :
        target_denso_moveIDs 270
    ;
    
    config_pert :
        target_denso_moveIDs 272
    ;
   
    windows :
        position {
            2.4    3.4    # 2.4   3.4
            1.7    2.7    # 1.7   2.7
            1.1    2.0    # 1.1   2.0
            0.4    1.4    # 0.4   1.4
        }
        
        dock {
            0      0.1
        }
        
        force :
            lower {
                -   -5  -     -   -   -
                -   10  -     -   -   -
                -   20  -     -   -   -
                -   30  -     -   -   -
            }
            
            upper {
                -   inf    -     -   -   - 
                -   inf    -     -   -   - 
                -   inf    -     -   -   - 
                -   inf    -     -   -   -
            }
        ;
    ;
    
    config_move :
        # in
        # s
        window      position
    ;

    config_hold :
        polarity    out
        outcome     f
        window      position
    ;

    config_dock :
        # in
        # s
        window      dock
    ;
    
    config_force :
        # in
        # s
        window     force
    ;
;
